@import "tailwindcss";

/* Vertical Grid Line Effect */
.bg-grid {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  background-size: 12.5% 100%;
}

/* Abstract Glows */
.glow-sphere {
  filter: blur(60px);
  border-radius: 50%;
  position: absolute;
  z-index: 0;
}

/* Hide scrollbar for horizontal carousels */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
